<h1 align="center">Delivery de Lanches</h1>

<p align="center"><%= link_to 'Produtos', controller: 'produtos' %></p>
<p align="center"><%= link_to 'Clientes', controller: 'clientes' %></p>
<p align="center"><%= link_to 'Vendas', controller: 'vendas' %></p>