<h1>Delivery de Lanches</h1>

<p><%= link_to 'Produtos', controller: 'produtos' %></p>
<p><%= link_to 'Clientes', controller: 'clientes' %></p>
<p><%= link_to 'Vendas', controller: 'vendas' %></p>
<p><%= link_to 'Estoque de Produtos', controller: 'produto_estoques' %></p>