/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body{

    background-color: gold;
    background-image: url("index.jpeg");
    background-attachment: fixed;
    background-size: 50%

 }
 h1{
    color: black;
    text-shadow: 0.1em 0.1em 0.2em black;
    font-size: 500%;
 }

 a:link{
    color: black;
    text-shadow: 0.1em 0.1em 0.2em rgb(10, 10, 7);
    font-size: 200%;
 }

 a:visited {
    color: green;
 }

 a:hover {
    color: gold;
 }

 a:active {
    color: blue;
 }

 p{
    color: black;
    text-shadow: 0.1em 0.1em 0.2em black;
    font-size: 100%;
 }

 th{
    color: black;
    text-shadow: 0.1em 0.1em 0.2em black;
    font-size: 100%;
 }

 td{
    color: black;
    text-shadow: 0.1em 0.1em 0.2em black;
    font-size: 100%;
 }
 tr{
     font-size: 100%;
 }
 table{
     font-size: 100%;
 }